body{
  text-align: center;
}
.logo-img{
  width: 50%;
}
.container-fluid {
  padding: 7%;
}
/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-family: "Cardo";
  font-size: 1.2rem;
}
/* Download Buttons */
.download-button {
  margin: 5% 3% 7% 0;
}
.colored-section{
  background-color: #FFA400;
  color: #fff;
  text-align: left;
  padding: 5%;
}
h1, h2 {
  font-family: "Ubuntu";
  font-weight: bold;
  line-height: 1.5;

}
h3{
  font-family: "Cardo";
  font-weight: 400;
}
.white-section{
  color: #000;
  padding: 3% 7%;
}
/* Footer section */
.ft-icons{
  color:#14279B;
}
.ft-icons:hover{
  color:#FF0075;
}
.ft-icons {
  margin: 3% 2%;
}
@media (max-width:1000px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
